<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="insider360PU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>entity.MaterialCategourt</class>
    <class>entity.ItemDescription</class>
    <class>entity.Units</class>
    <class>entity.MaterialType</class>
    <class>entity.Gener</class>
    <class>entity.ItemDescriptionType</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://50.87.144.43:3306/insider3_dev?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="insider3_dev"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="insider360@123"/>
    </properties>
  </persistence-unit>
  <persistence-unit name="insider360PU2" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://50.87.144.43:3306/insider3_dev?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="insider3_dev"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="insider360@123"/>
    </properties>
  </persistence-unit>
</persistence>
<!--<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="insider360PU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>entity.MaterialCategourt</class>
    <class>entity.ItemDescription</class>
    <class>entity.Units</class>
    <class>entity.MaterialType</class>
    <class>entity.Gener</class>
    <class>entity.ItemDescriptionType</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://50.87.144.43:3306/insider3_dev?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="insider3_dev"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="insider360@123"/>
    </properties>
  </persistence-unit>
  <persistence-unit name="insider360PU2" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://50.87.144.43:3306/insider3_dev?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="insider3_dev"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="insider360@123"/>
    </properties>
  </persistence-unit>
</persistence>-->